doctype html
head
    title Node and MongoDB Pagenation
    link(rel="stylesheet" type="text/css", href="public/styles.css")

body
    table(border="1" style="border-collapse: collapse")
        tr
            th N
            th Name
            th Age
            th Gender
            th City
        if result
            each val, i in result
                tr
                    // displaying number of rows differently depends on number of the current page
                    td= (((currentPage*limit)-limit) + (i+1))
                    td= val.name
                    td= val.age
                    td= val.gender
                    td= val.city
        
    
    div(class="pagenation")
        ul
            // displaying left arrow button
            if currentPage > 5
                li
                    a(href="/page/1") <<
            // for current pages that less than 3 
            if currentPage < 3
                // three left buttons
                - for(var i = 1; i<=3; i++)
                    if i < totalPages 
                        li
                            if currentPage === i
                                a(href=`/page/${i}` class="active")= i
                            else
                                 a(href=`/page/${i}`)= i
                // three right buttons
                - for(var i = 4; i<6; i++)
                    if i < totalPages
                        li
                            if currentPage === i
                                a(href=`/page/${i}` class="active")= i
                            else
                                 a(href=`/page/${i}`)= i
            else
                // three left buttons
                - for(var i = currentPage-2; i<=currentPage; i++)
                    if i <= totalPages 
                        li
                            if currentPage === i
                                a(href=`/page/${i}` class="active")= i
                            else
                                 a(href=`/page/${i}`)= i
                // three right buttons
                - for(var i = currentPage+1; i<=currentPage+3; i++)
                    if i <= totalPages
                        li
                            if currentPage === i
                                a(href=`/page/${i}` class="active")= i
                            else
                                 a(href=`/page/${i}`)= i
            // displaying right arrow button
            if currentPage+6 < totalPages
                li
                    a(href=`/page/${totalPages}`) >>